**/.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
Synergy/tokens.py
Synergy/logs/*
Synergy/output/*
Synergy/input/*
Synergy/experiment_data_gitignore/*

!Synergy/input/syn24_testset_llm_small.json
!Synergy/input/repeat_ques34

BioNNE/tokens.py
BioNNE/logs/*
BioNNE/examples/*

.env
.vscode

Task12b/logs/*
Task12b/output/*
Task12b/tokens.py